
body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .courses-container {
    text-align: center;
    padding: 20px;
    background-color: #cacaca;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    max-width: 1200px;
    margin: 20px;
  }
  
  .heading {
    font-size: 36px;
    color: #333;
    margin-bottom: 30px;
  }
  

  .courses-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .course-card {
    background-color: #fafafa;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    flex: 1 1 250px; 
    max-width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
  }
  
  .course-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .course-image {
    width: 90px;
    height: 90px;
    margin-bottom: 15px;
  }
  
  .course-title {
    font-size: 24px;
    color: #4CAF50;
    margin-bottom: 10px;
  }
  
  .course-description {
    font-size: 14px;
    color: #777;
    margin-bottom: 15px;
  }
  
  .course-button {
    padding: 8px 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
  }
  
  .course-button:hover {
    background-color: #45a049;
  }
  